{% extends "baseForm.html.twig" %}
{% block debut_form %}
    {{ form_start(form) }}
{% endblock %}
{% block code %}
    <h1 class="evenementH1">Pour quel type d'événement avez-vous besoin d'un dj ?</h1>
    <div class="input-field">
    {{ form_widget(form.type) }}
    </div>
    <button name="button" class="btn-postal" onclick="popup()">Valider</button>
{% endblock %}
{% block popup %}
    {% include 'popup.html.twig' %}
    <div class="popup-get" style="display:none" >
        <h4 class="popup-h4">Votre demande de devis à bien été pris en compte vous pouvez consulter votre boîte Email afin de le télécharger.<br/><br/>
        Un gestionnaire de projet va vous contacter rapidement afin de vous accompagner sur pour la suite de votre projet.</h4>
        {{ form_widget(form.go) }}
    </div>
{% endblock %}
{% block formulaire %}
    <img class="cancel"
             src="{{ asset('img/cancel2.svg') }}"
             alt="Quitter"
             onclick="cancel()">
    {% include 'barreProgression.html.twig' %}
    {% include 'formulaireEntreprise.html.twig' %}
    <div class="footer"></div>
    <div class="copyright"></div>
{% endblock %}
{% block fin_form %}
    {{ form_end(form) }}  
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ asset('js/formulaireEntreprise.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/Calendrier.js') }}" type="text/javascript"></script>
{% endblock %}
